.star-ratings {
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: gold;
	size: 100px;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
	size: 100px;
}

p {
	margin: 0;
	margin-bottom: 0;
}

.search_box {
	text-align: center;
}

#searchWord {
	color: inherit;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 400;
	height: 3.6rem;
	padding-left: 1.6rem;
	margin-left: auto;
	border-radius: 0.4rem;
	border: 1px solid #e6e6e6;
	background-color: #f8f8f8;
	color: #919191;
	line-height: 3.6rem;
}

#hotel01 {
	text-align: center;
}

style>html, body {
	align-content: center;
	position: relative;
	height: auto;
	width: auto;
}

body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding-top: 60px;
}

.search_box {
	text-align: center;
}

#searchWord {
	color: inherit;
	text-decoration: none;
	font-size: 1.4rem;
	font-weight: 400;
	height: 3.6rem;
	padding-left: 1.6rem;
	margin-left: auto;
	border-radius: 0.4rem;
	border: 1px solid #e6e6e6;
	background-color: #f8f8f8;
	color: #919191;
	line-height: 3.6rem;
}

.selectbox_sort {
	float: right;
	margin-right: 105px;
}

.hotel01 {
	background-size: 150px;
	height: 150px;
}

.hotel_img {
	max-height: 150px;
	align-items: center;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.list_hotel {
	border: 1px
}

.list_body {
	margin-left: 200px;
	text-align: center;
	width: 80%;
	height: auto;
	border: 1px solid #003458;
}

span {
	font-weight: bolder;
}

#v-line {
	border-left: thick solid;
	height: 238px;
}
#searchArea{
	text-align: center;
	background-color: #ffffff;
	padding-top: 80px;
}
.low{
	 display: inline-block;
	 width: 650px;
}
.first{
	 height: 400px;
	 padding-top: 180px; 
	 font-size: 25px; 
	 font-weight: bold;
}
#background{
	background-image:url("/hotel/image/hotel/pinkSky.jpg");
	background-size:cover;
}