<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.HRRegister.HRRegisterMapper">  

	<insert id="insert" parameterType="kr.co.hotel.room.RoomVO" >
		INSERT INTO room
			( host_no, hotel_no, number, room_name, room_content, room_price, status)
		VALUES
			(#{host_no},#{hotel_no},#{number},#{room_name},#{room_content},#{room_price},#{status})
	</insert>
	
	<insert id="img_insert" parameterType="kr.co.hotel.HRRegister.ImageVO" >
		INSERT INTO image
			( hotel_no,room_no,review_no, filename_org, filename_real, image_order, image_type)
		VALUES
			(#{hotel_no},#{room_no},#{review_no} ,#{filename_org},#{filename_real},#{image_order},#{image_type})
	</insert>
	
	<select id="img_get" parameterType="int" resultType="kr.co.hotel.room.RoomVO">
		
	</select>

	
	<select id="count" parameterType="kr.co.hotel.room.RoomVO" resultType="java.lang.Integer">
	<!-- 테이블 명이 변수로 들어갈수 있음 -->
		select count(*) from room
		
		<where>
			host_no = #{host_no}
			<if test="stype != null and stype !='' ">
				<if test="stype != 'all' ">
					${stype} like '%${sword}%'
				</if>
				
				<if test="stype == 'all' ">
		   			 content like '%${sword}%' or title like '%${sword}%'
		    	</if>
			</if>
		</where>
	</select>
	
	
	<select id="list" parameterType="kr.co.hotel.room.RoomVO" resultType="kr.co.hotel.room.RoomVO">

			select * from room
				<where>
					host_no = #{host_no}
					<if test="stype != null and stype !='' ">
						<if test="stype != 'all' ">
							${stype} like '%${sword}%'
						</if>
						
						<if test="stype == 'all' ">
				   			 content like '%${sword}%' or title like '%${sword}%'
				    	</if>
					</if>
				</where>
			order by room_no desc
			limit ${startIdx}, ${pageRow}
	
	</select>
	
	<select id="view" parameterType="java.lang.Integer" resultType="kr.co.hotel.room.RoomVO">
		select * from room
		where room_no = #{xx}
		<!--#{xx}> #{아무 이름이나 써도 괜찮다} 정수 하나만 넘어오니까-->
	</select>
	
		
	
	<update id="update" parameterType="kr.co.hotel.room.RoomVO">
	
		UPDATE 	room
		SET
				 host_no  = #{host_no },
				 hotel_no  = #{hotel_no },
				 number  = #{number },
				 room_name  = #{room_name },
				 room_content  = #{room_content },
				 room_price  = #{room_price },
				 status  = #{status }
		WHERE  room_no  = #{room_no}
		
	</update>
	
	<update id="H_update" parameterType="kr.co.hotel.main.HotelVO">
	
		UPDATE hotel 
		SET
			
			 state_code  = #{state_code},
			 district_code  = #{district_code},
			 hotel_name  = #{hotel_name},
			 addr  = #{addr},
			 tel  = #{tel},
			 hotel_content  = #{hotel_content}
		
		WHERE  hotel_no  = #{hotel_no}

		
	</update>
	

	
	<delete id="delete" parameterType="int">
		
		delete from room where room_no = #{room_no}
	
	</delete>
	
	
	<delete id="H_delete" parameterType="int">
		
		delete from hotel where hotel_no = #{hotel_no}
	
	</delete>
	
	<delete id="delete_img" parameterType="int">
		
		delete from image where room_no = #{room_no}
	
	</delete>
	
	<delete id="H_delete_img" parameterType="int">
		
		delete from image where hotel_no = #{hotel_no}
	
	</delete>
	
	
	<select id="get_hotelInfo" parameterType="int" resultType="kr.co.hotel.main.HotelVO">
	<!-- 테이블 명이 변수로 들어갈수 있음 -->
		select * from hotel where host_no = #{host_no}
		
	</select>
	<select id="get_hotelview" parameterType="int" resultType="kr.co.hotel.main.HotelVO">
	<!-- 테이블 명이 변수로 들어갈수 있음 -->
		select * from hotel where hotel_no = #{hotel_no}
		
	</select>
	
	<select id="get_roomInfo" parameterType="int" resultType="kr.co.hotel.room.RoomVO">
		
		select * from room order by room_no desc limit 1
		
	</select>
	
	<select id="get_imgList" parameterType="kr.co.hotel.HRRegister.ImageVO" resultType="kr.co.hotel.HRRegister.ImageVO">
		select * from image 
		<where>
			<if test="image_type == 'ROOM'">
				room_no = #{room_no}
			</if>
			<if test="image_type == 'HOTEL'">
				hotel_no = #{hotel_no}
			</if>
		</where>
		order by image_order
	</select>
	
	
	<insert id="hotel_insert" parameterType="kr.co.hotel.main.HotelVO" >
		INSERT INTO hotel
			(host_no, 
			state_code, district_code, 
			hotel_name, addr, tel, 
			isConfirm, hotel_content, reject, 
			lat, lot,  totalReview, totalLike)
		VALUES
			(#{host_no}, 
			#{state_code}, #{district_code}, 
			#{hotel_name}, #{addr}, #{tel}, 
			#{isConfirm}, #{hotel_content}, #{reject}, 
			#{lat}, #{lot},  #{totalReview}, #{totalLike});
			
			
		<selectKey keyProperty="hotel_no" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>

	</insert>
	
	
	<select id="get_district_code" parameterType="kr.co.hotel.main.HotelVO" resultType="kr.co.hotel.main.HotelVO">
		select * from district where district_code like '${state_code}%'
	</select>
	
	<!-- 호텔 객실 신청 toAdmin -->
	
	<update id="room_toAdmin" parameterType="kr.co.hotel.room.RoomVO">
		
		UPDATE room
		SET
		status = 1
		WHERE host_no = #{host_no} AND status = 0 or -1
		
	</update>
	
	<update id="hotel_toAdmin" parameterType="kr.co.hotel.main.HotelVO">
	
		UPDATE hotel
		SET
		isConfirm = 1
		where host_no = #{host_no} and isConfirm = 0 or -1;
		
	</update>
	
	
	
  
	
	

	
	

</mapper>