<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.hostboard.HostBoardMapper">

	
	<!-- 등록하기 -->
	<insert id="insert" parameterType="kr.co.hotel.hostboard.HostBoardVO" >
		INSERT INTO hostboard (
			host_no, hboard_type, hboard_title, hboard_content, hboard_viewcount, hboard_writer, hboard_regdate, hboard_status, filename_org, filename_real
		) VALUES (
			#{host_no}, #{hboard_type}, #{hboard_title}, #{hboard_content}, #{hboard_viewcount}, #{hboard_writer}, now(), #{hboard_status}, #{filename_org}, #{filename_real}
		)  
		<selectKey keyProperty="hboard_no" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	
	<!-- 총 게시물 수 체크 -->
	<select id="count" parameterType="kr.co.hotel.hostboard.HostBoardVO" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM hostboard 
		<where>
			<if test="stype != null and stype != ''">
				<if test="stype !='all'">
					${stype} LIKE '%${sword}%'
				</if>
				<if test="stype == 'all'">
					hboard_title LIKE '%${sword}%' or hboard_content LIKE '%${sword}%'
				</if>
			</if>
		</where>
	</select>
	
	<!-- 목록보기 -->
	<select id="list" parameterType="kr.co.hotel.hostboard.HostBoardVO" resultType="kr.co.hotel.hostboard.HostBoardVO">
		SELECT *,
			( SELECT host_name FROM host 
				WHERE host_no = hostboard.host_no ) AS host_name,
				datediff (now(), hboard_regdate) as diff
		FROM hostboard
			<where>
				<if test="stype != null and sword != ''">
					<if test="stype != 'all'">
						${stype} LIKE '%${sword}%'
					</if>
					<if test="stype == 'all'">
						hboard_title LIKE '%${sword}%' or hboard_content LIKE '%${sword}%' 
					</if>
				</if>
			</where>
			ORDER BY hboard_regdate DESC
			LIMIT ${startIdx} , ${pageRow}
	</select>
	
	<!-- 조회하기 -->
	<select id="view" parameterType="int" resultType="kr.co.hotel.hostboard.HostBoardVO">
		SELECT *,
			( SELECT host_name FROM host
				WHERE host_no = hostboard.host_no ) AS host_name 
		FROM hostboard WHERE hboard_no = #{hboard_no}
	</select>
	
	<!-- 조회수 1 증가 처리 -->
	<update id="updateViewcount" parameterType="int">
		UPDATE hostboard SET hboard_viewcount = hboard_viewcount + 1 WHERE hboard_no = #{hboard_no}
	</update>
	
	<!-- 수정하기 -->
	<update id="update" parameterType="kr.co.hotel.hostboard.HostBoardVO">
		UPDATE hostboard SET 
			hboard_type = #{hboard_type}, hboard_title = #{hboard_title}, hboard_content = #{hboard_content}, hboard_updatedate = now()
			<if test="filename_org != null">
			, filename_org = #{filename_org}, filename_real = #{filename_real}
			</if>
			WHERE hboard_no = #{hboard_no}
	</update>
	
	<!-- 답글업데이트 -->
	<update id="replyupdate" parameterType="kr.co.hotel.hostboard.HostBoardVO">
		UPDATE hostboard SET
			 hboard_replyupdatedate= now(), hboard_reply=#{hboard_reply}
			WHERE hboard_no =#{hboard_no}
	</update>
	
	<!-- 삭제하기 -->
	<delete id="delete" parameterType="int">
		DELETE FROM hostboard WHERE hboard_no = #{hboard_no}
	</delete>
	
	
	
	<!-- 호스트 내가 남긴 문의글_빛찬_220829 -->
	<!-- 총 게시물 수 체크 -->
	<select id="count_in_mypage" parameterType="kr.co.hotel.hostboard.HostBoardVO" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM hostboard 
		<where>
			host_no=${host_no}
			<if test="stype != null and stype != ''">
				<if test="stype !='all'">
					${stype} LIKE '%${sword}%'
				</if>
				<if test="stype == 'all'">
					hboard_title LIKE '%${sword}%' or hboard_content LIKE '%${sword}%'
				</if>
			</if>
		</where>
	</select>
	
	<!-- 목록보기 -->
	<select id="list_in_mypage" parameterType="kr.co.hotel.hostboard.HostBoardVO" resultType="kr.co.hotel.hostboard.HostBoardVO">
		SELECT *,
			( SELECT host_name FROM host 
				WHERE host_no = hostboard.host_no ) AS host_name,
				datediff (now(), hboard_regdate) as diff
		FROM hostboard
			<where>
				host_no=${host_no}
				<if test="stype != null and sword != ''">
					<if test="stype != 'all'">
						${stype} LIKE '%${sword}%'
					</if>
					<if test="stype == 'all'">
						hboard_title LIKE '%${sword}%' or hboard_content LIKE '%${sword}%' 
					</if>
				</if>
			</where>
			ORDER BY hboard_regdate DESC
			LIMIT ${startIdx} , ${pageRow}
	</select>
	
	
	
	
	

</mapper>