@charset "UTF-8";

.tr-head {
	height: 300px;
	background-color: #ECF2E4;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	padding: 10px;
}

.tr-head th {
	text-align: center;
}

tr {
	margin: 20px;
}

tr td {
	text-align: center;
	margin: 20px;
}

.tr-head .btn {
	margin-top: 20px;
	color: balck !important;
	font-size: 20px;
}

.user-name {
	font-size: 40px;
}

.user-email {
	font-size: 20px;
}

.component {
	font-size: 35px;
	cursor: pointer;
	width: 450px;
	height: 220px;
	padding-left: 15px;
	border: 0px solid #221f1f;
	margin: 50px 10px 10px 10px;
	text-align: left;
	font-weight: bold;
	border-radius: 25px;
	background-color: #FAB3DB; 
}

