@charset "UTF-8";


.tr-head-test{
	padding: 30px;
	height: 500px;
}
.tr-head-test td{
	padding-left: 20px;
}

.tr-head-test th{
	width: 14%;
	border: 3px solid lightgray;
	padding-left: 10px;
	margin-right: 10px;
	background-color: #F5F0F7;
}

.tr-head-test th div{
	margin: 10px;
	font-size: 20px;
}

.tr-head-test button{
	
	font-size: 25px;
	cursor: pointer;
	width: 450px;
	height: 220px;
	padding-left: 15px;
	
	border: 0px solid #221f1f;
	margin: 50px 10px 10px 10px;
	text-align: left;
	font-weight: bold;
	border-radius: 25px;
	background-color: #F4BDED; 
}

.tr-head-test button p{
	font-size: 55px;
	text-align: center;
}

.tr-head-test input{
	font-size: 22px;
	margin: 10px 0 10px 0;
	opacity: 100%;
}




tr {
	margin: 20px;
}

tr td {
	text-align: center;
	margin: 20px;
}

.tr-head .btn {
	margin-top: 20px;
	color: balck !important;
	font-size: 20px;
}

.sub_title{
	margin-bottom: 30px;
}

