.swiper {
	margin: initial;
	width: 800px;
	height: 20%;
}

.swiper-slide {
	margin-top: 5px;
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	margin: initial;
	display: block;
	width: 40rem;
	height: 300px;
	padding: 20px 100px 30px 50px;
}
#infoBox {
	align-self: center;
	margin-left: 100px;
}
#infoBox #infoContent {
	border: 1px solid black;
	text-align: center;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
}
#reservBtn {
	margin-top: 5px;
}

.detail_full_screen {
	margin-top: 20px;
}

.detail_full_screen img {
	margin: 20px 80px 20px 80px;
	width: 40rem;
	height: 300px;
}

.middleBox {
	width : 37.2cm;
	border: 1px solid black;
	margin: 0 100px 0 100px;
}
#hotel_screen {
	height: 300px;
	display: contents;
	
}
.hotelName {
	text-align: center;
	width: 800px;
	border: 2px solid black;
	font-size: 20px;
	font-weight: bold;
	margin-left: 100px;
	margin-top: 60px;
}

#Low {
	margin-left: 100px;
	vertical-align: middle;
	display: flex;
}

.lowDiv {
	display: flex;	
}