<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.coupon.CouponMapper">
	
	<select id="list" resultType="kr.co.hotel.member.GuestVO">
		select * from guest
	</select>

	<select id="selectGuestNo" parameterType="string" resultType="kr.co.hotel.member.GuestVO">
		select * from guest where guest_id=#{guest_id}
	</select>
	
	<select id="couponNodup" parameterType="kr.co.hotel.coupon.CouponMapper" resultType="int">
		select count(*) from coupon where coupon_no=#{coupon_no}
	</select>	
	
	<insert id="createCoupon" parameterType="kr.co.hotel.coupon.CouponMapper">
		insert into coupon (
			coupon_no, guest_no, coupon_price, coupon_date, expdate, use_status) 
		values (
			#{coupon_no}, #{guest_no}, #{coupon_price}, now(), DATE_ADD(NOW(), INTERVAL 14 day), 0)
	</insert>
</mapper>