<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.coupon.CouponMapper">
	
	<select id="list" parameterType="java.util.Map" resultType="kr.co.hotel.guest.GuestVO">
		select * from guest
		<where>
			guest_id like '%${idsearch}%'
		</where>
	</select>

	<select id="selectGuestNo" parameterType="string" resultType="kr.co.hotel.guest.GuestVO">
		select * from guest where guest_id=#{guest_id}
	</select>
	
	<select id="couponNodup" parameterType="kr.co.hotel.coupon.CouponVO" resultType="int">
		select count(*) from coupon where coupon_no=#{coupon_no}
	</select>	
	
	<insert id="createCoupon" parameterType="kr.co.hotel.coupon.CouponVO">
		insert into coupon (
			coupon_no, guest_no, coupon_price, coupon_date, expdate, use_status) 
		values (
			#{coupon_no}, #{guest_no}, #{coupon_price}, now(), DATE_ADD(NOW(), INTERVAL 14 day), 0)
	</insert>
	
	
	
	
	
	
	<!-- 이하 빛찬 -->
	
	<select id="count" parameterType="kr.co.hotel.coupon.CouponVO" resultType="java.lang.Integer">
	<!-- 테이블 명이 변수로 들어갈수 있음 --><!-- comment테이블은 하나, 여기에 각 페이지의 table_name 구분, 페이지의 게시판 마다 boar_no구분 -->
		<![CDATA[
		SELECT count(*) from coupon
		WHERE
		guest_no=#{guest_no} 
		AND use_status = 0
		AND expdate > now()  
		
		
		]]>
	</select>
	
	<select id="C_list" parameterType="kr.co.hotel.coupon.CouponVO" resultType="kr.co.hotel.coupon.CouponVO">
		<![CDATA[
		
			select * from coupon
				
			where guest_no = #{guest_no}
			
			AND use_status = 0
			AND expdate > now()
					
			order by coupon_date desc
			limit ${startIdx}, ${pageRow}
			
			]]>
	</select>
	
	
</mapper>