<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.hostfaq.HostFaqMapper">
	<!-- 등록하기 -->
	<insert id="insert" parameterType="kr.co.hotel.hostfaq.HostFaqVO">
	INSERT INTO hostfaq (
		hfaq_type, hfaq_title, hfaq_content, admin_no
	) VALUES (
		#{hfaq_type}, #{hfaq_title}, #{hfaq_content}, #{admin_no}
	)
	</insert>
	
	<!-- 목록보기 -->
	<select id="list" parameterType="kr.co.hotel.hostfaq.HostFaqVO" resultType="kr.co.hotel.hostfaq.HostFaqVO">
		SELECT * FROM hostfaq
	</select>
	
	<!-- 조회하기 -->
	<select id="view" parameterType="int" resultType="kr.co.hotel.hostfaq.HostFaqVO">
		SELECT * FROM hostfaq WHERE hfaq_no = #{hfaq_no}
	</select>
	
		
	<!-- 수정하기(관리자용) -->
	<update id="update" parameterType="int">
		UPDATE hostfaq SET 
			hfaq_title = #{hfaq_title}, hfaq_content = #{hfaq_content}
			WHERE hfaq_no = #{hfaq_no}
	</update>
	
	<!-- 삭제하기(관리자용) -->
	<delete id="delete" parameterType="int">
		DELETE FROM hostfaq WHERE hfaq_no = #{hfaq_no}
	</delete>
	

</mapper>