<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.cancel.CancelMapper">
	
<!-- 카드 취소  -->
	
	<!-- 예약 테이블에 상태 업데이트 -->
	<update id="cancelReserve" parameterType="kr.co.hotel.reserve.ReserveVO">
		update reserv set rev_status = 1, canceldate = now(), pay_status = 2 where guest_no =#{guest_no} and imp_uid =#{imp_uid}
	</update>
	
	<!-- 특정 게스트 포인트 업데이트 -->
	<update id="cancelGuestPoint" parameterType="kr.co.hotel.guest.GuestVO">
		update guest set totalpoint = #{totalpoint} where guest_no = ${guest_no}
	</update>
	
	<!-- 포인트 이력 저장 (포인트 취소) -->
	<insert id="cancelPoint" parameterType="kr.co.hotel.reserve.ReserveVO">
		insert into point (
			guest_no, io_point, totalpoint, pointtype, date)
		values (#{guest_no}, (select used_point from reserv where guest_no = #{guest_no} and imp_uid = #{imp_uid}), (select totalpoint from guest where guest_no=#{guest_no}), 0, (select canceldate from reserv where imp_uid= #{imp_uid}))
	</insert>
	
	<!-- 쿠폰 상태 업데이트 -->
	<update id="cancelCoupon" parameterType="kr.co.hotel.reserve.ReserveVO">
		update coupon set usedate = null, use_status = 0 where coupon_no = (select coupon_no from reserv where imp_uid = #{imp_uid})
	</update>
	
	
<!-- 무통장 취소  -->
	
	<!-- 취소할 예약정보 가져오기 -->
	<select id="SelectReserve" parameterType="kr.co.hotel.reserve.ReserveVO" resultType="kr.co.hotel.reserve.ReserveVO">
		select * from reserv where reserv_no=#{reserv_no}
	</select>
	
	<!-- 예약 상태 업데이트 -->
	<update id="UpdateReserveStatus" parameterType="kr.co.hotel.reserve.ReserveVO">
		update reserv set rev_status = 1, canceldate = now(), pay_status = 2 where reserv_no=#{reserv_no}
	</update>
	
	<!-- 특정 게스트 포인트 업데이트 -->
	<update id="UpdateGuestPoint" parameterType="kr.co.hotel.reserve.ReserveVO">
		update guest set totalpoint = 
			(select totalpoint from (select totalpoint from guest where guest_no =#{guest_no})as b)+
			(select used_point from reserv  where reserv_no =#{reserv_no}) where guest_no=#{guest_no} 
	</update>
	
	<!-- 포인트 테이블 이력 저장(포인트 취소) -->
	<update id="InsertPointTable" parameterType="kr.co.hotel.reserve.ReserveVO">
		insert into point 
			( guest_no, io_point, totalpoint, pointtype, date)
		values 
			(#{guest_no}, #{used_point}, (select totalpoint from guest where guest_no=#{guest_no}), 0, (select canceldate from reserv where reserv_no=#{reserv_no}))	
	</update>
	
	<!-- 쿠폰상태 업데이트 -->
	<update id="UpdateCouponStatus" parameterType="kr.co.hotel.reserve.ReserveVO">
		update coupon set usedate = null, use_status = 0 where coupon_no =#{coupon_no}
	</update>




</mapper>