<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.room.RoomMapper">
	
	<select id="roomView" parameterType="int" resultType="kr.co.hotel.room.RoomVO">
		SELECT * FROM room WHERE room_no = #{room_no}
	</select>

	<!-- room_no에 해당하는 이미지 셀렉 -->
	<select id="getRoomImage" parameterType="int" resultType="kr.co.hotel.room.RoomVO">
		SELECT * FROM room r, image im
		where r.room_no = im.no
		and im.no = #{room_no} AND image_type = 'ROOM';
	</select>
	
	<!-- 리뷰리스트 가져오기 -->
	<select id="getReviewList" parameterType="int" resultType="kr.co.hotel.review.ReviewVO">
		SELECT * FROM review WHERE room_no = #{room_no}
	</select>
</mapper>