<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.host.HostMapper">

	<insert id="insert" parameterType="kr.co.hotel.host.HostVO">
		INSERT INTO host (
		host_id, host_pwd, host_email, host_name, host_hp,
		host_joindate, host_accountno, host_bank, host_status
		) VALUES (
		#{host_id},
		md5(#{host_pwd}),#{host_email},#{host_name},#{host_hp},NOW(),#{host_accountno},#{host_bank},0
		)
	</insert>
	<select id="emailDupCheck" parameterType="string" resultType="int">	
		SELECT COUNT(*) FROM host WHERE host_email = #{host_email}
	</select>
	
	<select id="idDupCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM host WHERE host_id = #{host_id}
	</select>
	<select id="hpDupCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM host WHERE host_hp = #{host_hp}
	</select>
	<select id="hostloginCheck" parameterType="kr.co.hotel.host.HostVO" resultType="kr.co.hotel.host.HostVO">
		SELECT * FROM host WHERE host_id = #{host_id} AND host_pwd = md5(#{host_pwd}) AND host_status=0
	</select>
	<select id="findHostId" parameterType="kr.co.hotel.host.HostVO" resultType="kr.co.hotel.host.HostVO">
		SELECT * FROM host WHERE host_name=#{host_name} AND host_hp=#{host_hp} AND host_status=0
	</select>
	
	<select id="findHostPwd" parameterType="kr.co.hotel.host.HostVO" resultType="kr.co.hotel.host.HostVO">
		SELECT * FROM host WHERE host_id=#{host_id} AND host_hp=#{host_hp} AND host_email = #{host_email} AND host_status=0
	</select>
	
	<update id="updateTempHostPwd" parameterType="kr.co.hotel.host.HostVO">
		UPDATE host SET host_pwd = md5(#{host_pwd}) WHERE host_id=#{host_id} AND host_hp=#{host_hp} AND host_email = #{host_email} AND host_status=0
	</update>
	<select id="myinfoLogin" parameterType="kr.co.hotel.host.HostVO" resultType="kr.co.hotel.host.HostVO">
		SELECT * FROM host 
		WHERE host_pwd = md5(#{host_pwd}) AND host_no = #{host_no} AND host_status=0
	</select>
	<update id="updatePwd" parameterType="kr.co.hotel.host.HostVO">
		UPDATE host SET host_pwd = md5(#{host_pwd}) WHERE host_id=#{host_id} AND host_status=0
	</update>
	<update id="totalUpdate" parameterType="kr.co.hotel.host.HostVO">
		UPDATE host SET host_email=#{host_email}, host_hp=#{host_hp}, 
		host_bank=#{host_bank}, host_accountno=#{host_accountno}
		WHERE host_no=#{host_no} AND host_status=0
	</update>
	<select id="deleteHostInfo" parameterType="kr.co.hotel.host.HostVO" resultType="kr.co.hotel.host.HostVO">
		SELECT * FROM host WHERE host_no=#{host_no} AND host_id=#{host_id} AND host_pwd=md5(#{host_pwd}) AND host_status=0
	</select>
	<update id="fakeDelete" parameterType="kr.co.hotel.host.HostVO">
		UPDATE host SET host_pwd=md5(#{host_pwd}) , host_status=1 WHERE host_no=#{host_no}
	</update>
	
	<!-- 이하 이원표 작성 -->
	<!-- 호스트 리스트 불러오기 -->
	<select id="getHostList" parameterType="kr.co.hotel.admin.AdminVO" resultType="kr.co.hotel.host.HostVO">
		SELECT *,
			(SELECT isConfirm FROM hotel where host_no = host.host_no) as isConfirm
		FROM host
			<where>
				<if test="stype != null and sword != ''">
					<if test="stype != 'all'">
						${stype} LIKE '%${sword}%'
					</if>
					<if test="stype == 'all'">
						host_id LIKE '%${sword}%' or host_name LIKE '%${sword}%' 
					</if>
				</if>
			</where>
			ORDER BY host_no DESC
			LIMIT ${startIdx} , ${pageRow}
	</select>
	
	<!-- 호스트 수 불러오기 -->
	<select id="getHostCount" parameterType="kr.co.hotel.admin.AdminVO" resultType="int">
		SELECT COUNT(*) FROM host
		<where>
			<if test="stype != null and stype != ''">
					${stype} LIKE '%${sword}%'
			</if>
		</where>
	</select>

	<!-- 해당 호스트의 상세보기 -->	
	<select id="getView" parameterType="kr.co.hotel.host.HostVO" resultType="kr.co.hotel.host.HostVO">
		SELECT * FROM host where host_no = #{host_no}
	</select>
	
	
	
	<!-- 이하 빛찬 -->
	<select id="reserve_count" parameterType="int" resultType="int">
		select count(*) from reserv 
		where 
		hotel_no= #{hotel_no}
		and use_status = 0
	</select>
	
	<select id="daily_sales" parameterType="int" resultType="int">
	
		select sum(total_price) from reserv 
		where date_format(rev_date, "%Y-%m-%d") = date_format(now(), "%Y-%m-%d")
		and hotel_no = #{hotel_no}
		
	</select>
	
	<select id="review_count" parameterType="int" resultType="kr.co.hotel.main.HotelVO">
	
		SELECT avgScore, totalReview FROM hotel
        where
        host_no=#{host_no};
		
	</select>

	
</mapper>