<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.review.ReviewMapper">  

	<select id="count" parameterType="kr.co.hotel.review.ReviewVO" resultType="java.lang.Integer">
	<!-- 테이블 명이 변수로 들어갈수 있음 -->
		select count(*) from review
		<where>
			guest_no = #{guest_no}
			<if test="stype != null and stype !='' ">
				<if test="stype != 'all' ">
					${stype} like '%${sword}%'
				</if>
				
				<if test="stype == 'all' ">
		   			 content like '%${sword}%' or title like '%${sword}%'
		    	</if>
			</if>
		</where>
	</select>
	
	
	<select id="list" parameterType="kr.co.hotel.review.ReviewVO" resultType="kr.co.hotel.review.ReviewVO">

			select * ,
			(select hotel_name from hotel where hotel_no=review.hotel_no) as hotel_name		
			from review
				<where>
					guest_no = #{guest_no}
					<if test="stype != null and stype !='' ">
						<if test="stype != 'all' ">
							${stype} like '%${sword}%'
						</if>
						
						<if test="stype == 'all' ">
				   			 content like '%${sword}%' or title like '%${sword}%'
				    	</if>
					</if>
				</where>
			order by review_no desc
			limit ${startIdx}, ${pageRow}
	
	</select>
<!-- 이상 대기 -->	

	<select id="get_reserve" parameterType="kr.co.hotel.review.ReviewVO" resultType="kr.co.hotel.reserve.ReserveVO">
		
		select *,
		(select hotel_name from hotel where hotel_no = reserv.hotel_no)as hotel_name,
		(select number from room where room_no=reserv.room_no)as number
		
		from reserv 
		where reserv_no = #{reserv_no}
		
	</select>
	
	<insert id="insert" parameterType="kr.co.hotel.review.ReviewVO">
		INSERT INTO review
		(reserv_no,guest_no,hotel_no,room_no,review_title,review_content,review_regdate,review_score)
		VALUES
		(#{reserv_no}, #{guest_no}, #{hotel_no}, #{room_no}, #{review_title}, #{review_content}, now(), #{review_score})
		<selectKey resultType="int" keyProperty="review_no" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
<!-- 작성자 이원표 -->

	 <!--객실평점평균 -->
	<update id="roomUpdate" parameterType="int" >
		UPDATE room 
		SET 
		avgScore = (SELECT ROUND(avg(review_score),1) FROM review WHERE room_no=#{room_no}) 
		where room_no=#{room_no};
	</update>
	
	<!--호텔평점평균 -->
	<update id="hotelUpdate" parameterType="int" >
		UPDATE hotel 
		SET 
		avgScore = (SELECT ROUND(avg(avgScore),1) FROM room WHERE hotel_no=#{hotel_no}) 
		WHERE hotel_no = #{hotel_no}
	</update>
	
	<!-- 객실 리뷰 카운트 -->
	<update id="roomReviewCount">
		UPDATE room SET totalReview = (SELECT COUNT(*) FROM review where room_no=#{room_no})
		WHERE room_no=#{room_no}
	</update>
	<!-- 호텔 리뷰 카운트 -->
	<update id="hotelReviewCount">
		UPDATE hotel SET totalReview = (SELECT COUNT(*) FROM review where hotel_no=#{hotel_no})
		WHERE hotel_no = #{hotel_no}
	</update>
	
<!-- 작성자 이원표 -->	
	
	<!--  -->
	<update id="update_review_status" parameterType="kr.co.hotel.review.ReviewVO">
		UPDATE reserv
		SET
		review_status = 1
		WHERE reserv_no = #{reserv_no}
	</update>
	
	<select id="get_review_img" parameterType="int" resultType="kr.co.hotel.HRRegister.ImageVO">
		select * from image 
		where no=#{no} 
		and image_type='REVIEW'
	</select>
	<!-- 빛찬 -->
	<delete id="delete" parameterType="int">
		delete from review where review_no =#{review_no}
	</delete>
	
	<update id="review_update" parameterType="kr.co.hotel.review.ReviewVO">
		UPDATE review
		SET
		review_title=#{review_title},
		review_content=#{review_content},
		review_score=#{review_score}
		WHERE review_no=#{review_no}
	</update>
	 
	 
	 
	 <select id="host_review_count" parameterType="kr.co.hotel.review.ReviewVO" resultType="java.lang.Integer">
	<!-- 테이블 명이 변수로 들어갈수 있음 -->
		select count(*) from review
		<where>
			hotel_no = #{hotel_no}
			<if test="stype != null and stype !='' ">
				<if test="stype != 'all' ">
					${stype} like '%${sword}%'
				</if>
				
				<if test="stype == 'all' ">
		   			 content like '%${sword}%' or title like '%${sword}%'
		    	</if>
			</if>
		</where>
	</select>
	
	
	<select id="host_review_list" parameterType="kr.co.hotel.review.ReviewVO" resultType="kr.co.hotel.review.ReviewVO">

			select * ,
			(select hotel_name from hotel where hotel_no=review.hotel_no) as hotel_name		
			from review
				<where>
					hotel_no = #{hotel_no}
					<if test="stype != null and stype !='' ">
						<if test="stype != 'all' ">
							${stype} like '%${sword}%'
						</if>
						
						<if test="stype == 'all' ">
				   			 content like '%${sword}%' or title like '%${sword}%'
				    	</if>
					</if>
				</where>
			order by review_no desc
			limit ${startIdx}, ${pageRow}
	
	</select>

</mapper>