<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.reserve.ReserveMapper">

	<select id="select" parameterType="kr.co.hotel.guest.GuestVO" resultType="kr.co.hotel.guest.GuestVO">
		select * from guest where guest_email =#{guest_name} and guest_pwd = #{guest_pwd}
	</select>
	
	<insert id="insert" parameterType="kr.co.hotel.reserve.ReserveVO">
		<if test="pay_type==0">
			insert into reserv (
				coupon_no, room_no, guest_no, hotel_no, startdate, 
				enddate, used_point, canceldate, 
				total_price, rev_date, pay_type, 
				imp_uid, rev_status, use_status, pay_status, rev_name, rev_hp
			) values (
				#{coupon_no}, #{room_no}, #{guest_no}, #{hotel_no}, #{startdate}, 
				#{enddate}, #{used_point}, #{canceldate},
				#{total_price}, now(), #{pay_type}, 
				#{imp_uid}, 0, 0 ,1 ,#{rev_name}, #{rev_hp}
			)
		</if>
		<if test="pay_type== 1">
			insert into reserv (
				coupon_no, room_no, guest_no, hotel_no, startdate, 
				enddate, used_point, canceldate, 
				total_price, rev_date, pay_type, 
				imp_uid, rev_status, use_status, pay_status, rev_name, rev_hp
			) values (
				#{coupon_no}, #{room_no}, #{guest_no}, #{hotel_no}, #{startdate}, 
				#{enddate}, #{used_point}, #{canceldate},
				#{total_price}, now(), #{pay_type}, 
				#{imp_uid}, 0, 0 , 0, #{rev_name}, #{rev_hp}
			)
		</if>
		
	</insert>
	
	<insert id="pointinsert" parameterType="kr.co.hotel.reserve.ReserveVO">
			insert into point (
				guest_no, io_point, totalpoint, pointtype, date)
			values (#{guest_no}, #{used_point}, (select totalpoint from guest where guest_no = #{guest_no}), 1, now() )
	</insert>
	
	<update id="guestUsedPointUpdate" parameterType="kr.co.hotel.guest.GuestVO">
		update guest set totalpoint = #{totalpoint} where guest_no =#{guest_no}
	</update>
	
	<select id="reservecheck" parameterType="kr.co.hotel.reserve.ReserveVO" resultType="int">
			select count(*) from reserv where room_no =#{room_no} and hotel_no =#{hotel_no} and
			startdate between #{startdate} and #{enddate} and rev_status !=1
	</select>
	
	<update id="updateCoupon" parameterType="kr.co.hotel.reserve.ReserveVO">
		update coupon set use_status=1, usedate=now() where coupon_no =#{coupon_no} 
	</update>
	
	<select id="couponlist" parameterType="kr.co.hotel.coupon.CouponVO" resultType="kr.co.hotel.coupon.CouponVO">
		select * from coupon where guest_no=#{guest_no} and use_status !=1 and delete_status !=1
	</select>
	
	<update id="CounponDelete">
		update coupon set delete_status = 1 where now() > expdate and delete_status !=1
	</update>
	
	<update id="UpdatePointDeposit" parameterType="kr.co.hotel.reserve.ReserveVO">
		update reserv set point_deposit_status=1 where imp_uid = #{imp_uid}
	</update>
	
	<insert id="InsertPointDeposit" parameterType="kr.co.hotel.reserve.ReserveVO">
		insert into point 
			(guest_no, io_point, totalpoint, pointtype)
		values (#{guest_no}, #{used_point},(select totalpoint from guest where guest_no = #{guest_no}),1)
	</insert>
	
	<select id="SelectHostNo" parameterType="kr.co.hotel.main.HotelVO" resultType="kr.co.hotel.main.HotelVO">
		select * from hotel where hotel_no=#{hotel_no}
	</select>
	
	<select id="SelectHostAccount" parameterType="kr.co.hotel.main.HotelVO" resultType="kr.co.hotel.host.HostVO">
		select * from host where host_no=#{host_no}
	</select>
	
	<select id="SelectRoominfo" parameterType="kr.co.hotel.reserve.ReserveVO" resultType="kr.co.hotel.room.RoomVO">
		select * from room where room_no=#{room_no}
	</select>
	
	<select id="SelectReserveInfo" parameterType="kr.co.hotel.reserve.ReserveVO" resultType="kr.co.hotel.reserve.ReserveVO">
		select * from reserv where imp_uid=#{imp_uid}
	</select>
	
	
	
	
	
	<!-- 이하_ 마이페이지 예약리스트_빛찬 -->
	
	<select id="count" parameterType="kr.co.hotel.reserve.ReserveVO" resultType="java.lang.Integer">
		select count(*) from reserv
		
		<where>
			guest_no = #{guest_no}
			<if test="stype != null and stype !='' ">
				<if test="stype != 'all' ">
					${stype} like '%${sword}%'
				</if>
				
				<if test="stype == 'all' ">
		   			 content like '%${sword}%' or title like '%${sword}%'
		    	</if>
			</if>
		</where>
	</select>
	
	
	<select id="list" parameterType="kr.co.hotel.reserve.ReserveVO" resultType="kr.co.hotel.reserve.ReserveVO">

			select * ,
			(select hotel_name from hotel where hotel_no = reserv.hotel_no) as hotel_name,
			(select number from room where room_no=reserv.room_no)as number
			from reserv
				<where>
					guest_no = #{guest_no}
					<if test="stype != null and stype !='' ">
						<if test="stype != 'all' ">
							${stype} like '%${sword}%'
						</if>
						
						<if test="stype == 'all' ">
				   			 content like '%${sword}%' or title like '%${sword}%'
				    	</if>
					</if>
				</where>
			order by reserv_no desc
			limit ${startIdx}, ${pageRow}
	
	</select>
	
	
	
</mapper>