<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.hotel.guest.GuestMapper">

<insert id="insert" parameterType="kr.co.hotel.guest.GuestVO">
		INSERT INTO guest (
		guest_id, guest_pwd, guest_email, guest_name, guest_hp,
		guest_addr1, guest_addr2, guest_birth, g_joindate, g_accountno, g_bank, totalpoint, g_gender
		) VALUES (
		#{guest_id},
		md5(#{guest_pwd}),#{guest_email},#{guest_name},#{guest_hp},#{guest_addr1}, #{guest_addr2}, 
		#{guest_birth},NOW(),#{g_accountno},#{g_bank}, #{totalpoint} , #{g_gender}
		)
	</insert>
	<select id="emailDupCheck" parameterType="string" resultType="int">	
		SELECT COUNT(*) FROM guest WHERE guest_email = #{guest_email}
	</select>
	
	<select id="idDupCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM guest WHERE guest_id = #{guest_id}
	</select>
	<select id="hpDupCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM guest WHERE guest_hp = #{guest_hp}
	</select>
	<select id="guestloginCheck" parameterType="kr.co.hotel.guest.GuestVO" resultType="kr.co.hotel.guest.GuestVO">
		SELECT * FROM guest WHERE guest_id = #{guest_id} AND guest_pwd = md5(#{guest_pwd})
	</select>
	<select id="findGuestEmail" parameterType="kr.co.hotel.guest.GuestVO" resultType="kr.co.hotel.guest.GuestVO">
		SELECT * FROM guest WHERE guest_name=#{guest_name} AND guest_hp=#{guest_hp}
	</select>
	
	<select id="findGuestPwd" parameterType="kr.co.hotel.guest.GuestVO" resultType="kr.co.hotel.guest.GuestVO">
		SELECT * FROM guest WHERE guest_id=#{guest_id} AND guest_hp=#{guest_hp} AND guest_email = #{guest_email}
	</select>
	
	<update id="updateTempGuestPwd" parameterType="kr.co.hotel.guest.GuestVO">
		UPDATE guest SET guest_pwd = md5(#{guest_pwd}) WHERE guest_id=#{guest_id} AND guest_hp=#{guest_hp} AND guest_email = #{guest_email}
	</update>
	<select id="myinfoLogin" parameterType="kr.co.hotel.guest.GuestVO" resultType="kr.co.hotel.guest.GuestVO">
		SELECT * FROM guest 
		WHERE guest_pwd = md5(#{guest_pwd}) AND guest_no = #{guest_no}
	</select>
	<update id="updatePwd" parameterType="kr.co.hotel.guest.GuestVO">
		UPDATE guest SET guest_pwd = md5(#{guest_pwd}) WHERE guest_id=#{guest_id}
	</update>
	<update id="totalUpdate" parameterType="kr.co.hotel.guest.GuestVO">
		UPDATE guest SET guest_email=#{guest_email}, guest_hp=#{guest_hp}, 
		g_bank=#{g_bank}, g_accountno=#{g_accountno},guest_birth=#{guest_birth},
		guest_addr1=#{guest_addr1},guest_addr2=#{guest_addr2}
		WHERE guest_no=#{guest_no}
	</update>
</mapper>